@media only screen and (max-width: 376px) {
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  nav a {
    margin-left: 15px;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
    margin-top: 40px;
  }

  p {
    font-size: 14px;
    padding: 5px;
  }

  .logo,
  .brand {
    width: 100px;
    height: 30px;
  }

  header,
  #first-section,
  #second-section,
  #third-section,
  footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  br {
    display: none;
  }

  #second-section {
    background-image: url(images/bg-curve-mobile.svg);
    padding-top: 60px;
    padding-bottom: 120px;
    margin-top: 80px;
  }

  #second-article {
    margin-top: 40px;
    text-align: start;
    display: flex;
    flex-direction: column;
  }

  #second-article p {
    padding: 0;
  }

  #second-section h1 {
    font-size: 16px;
    text-align: center;
  }

  #second-article a {
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-self: center;
  }

  #second-article .testimony {
    width: 80%;
    text-align: start;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 10px #cfc6c6;
    border-radius: 10px;
  }

  .testimony .msg {
    font-size: 12px;
    margin-top: 0px;
  }

  #first-section,
  #second-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  input {
    margin-right: 0px;
  }

  button {
    padding: 12px 0px;
    margin-top: 15px;
    color: white;
    border: none;
  }


  #first-section img,
  #second-section .beautify {
    width: 100%;
  }

  #third-section,
  footer,
  .footerlinks {
    flex-direction: column;
    margin-bottom: 40px;
  }

  #third-section {
    padding: 30px 50px 45px;
    /* padding: 40px; */
    /* padding-top: 30px; */
    text-align: center;
    background-color: hsl(238, 22%, 44%);
  }
  
  #third-section h3 {
    font-size: 18px;
  }

  #third-section p {
    font-size: 14px;
  }

  #third-section form {
    /* width: 85%; */
    /* text-align: center; */
    margin: 15px auto 25px;
  }

  #third-section input {
    padding: 10px 60px 10px 10px;
  }

  #third-section button {
    margin-top: 15px;
  }



}


