body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: 'Open Sans', sans-serif;
}


header {
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#first-section img,
#second-section .beautify {
  width: 45%;
}

h1,h3,
button {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 35px;
}

header img {
  width: 120px;
}

#first-section {
  margin-top: 90px;
}

nav a {
  text-decoration: none;
  margin-left: 30px;
  color: #000;
}

input {
  padding: 10px 0px 10px 10px;
  margin-right: 5px;
}

button {
  padding: 12px 50px;
  font-weight: 700;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 3px;
}

header,
nav,
#first-section,
#second-section,
#third-section,
footer {
  padding-left: 50px;
  padding-right: 50px;
}

#second-section {
  background-image: url("images/bg-curve-desktop.svg");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-top: 100px;
  align-items: center;
}

#second-article > p {
  color: hsl(0, 0%, 45%);
}

#second-section .beautify {
  max-width: 450px;
  height: 100%;
}

#second-section a {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

#second-section .about  {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#second-section .about img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#second-section .about h4,
#second-section .about p {
  margin: 1.5px;
  font-size: 11px;
  margin-left: 10px;
}

.testimony {
  background-color: #fff;
  width: 50%;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 0 10px #cfc6c6;
  border-radius: 10px;
}

.testimony .msg {
  font-size: 14px;
  margin-top: 0px;
}

#third-section {
  align-items: baseline;
  color: #fff;
  padding: 50px;
  background-color: hsl(238, 22%, 44%);
}

#third-section h3 {
  font-size: 30px;
}

#third-section button {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  padding: 70px 50px 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footerlinks {
  padding-bottom: 20px;
  align-items: baseline;
  font-size: 14px;
}

.footerlinks img {
  width: 20px;
  height: 15px;
  padding-right: 20px;
}

.footerlinks p {
  padding-left: 20px;
}

.footerlinks .contacts .flex {
  justify-content: start;
  align-items: center;
}

.links, .links2 {
  flex-direction: column;
}

.links a, .links2 a {
  padding-bottom: 15px;
}

.socials i {
  padding: 5px;
  border: 1px solid #fff;
  margin-left: 20px;
  border-radius: 50%;
}

.socials i:hover {
  border: 1px solid hsl(224, 93%, 58%);
}

.socials i:hover,
.links a:hover,
.links2 a:hover {
  color: hsl(224, 93%, 58%);
}


.logo {
  width: 120px;
}



















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 